body{
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
	text-align: center;
}

.titleBody {
  background-color: powderblue;
  padding: 100px 100px 100px 100px;
  
}

.leftCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.rightCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.button {
  border: none;
  color: white;
  padding: 40px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 100px 100px;
  transition-duration: 0.4s;
  cursor: pointer;
}
      
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid black;
  border-radius: 10px;
}
      
.button1:hover {
  background-color: black;
  color: white;
}

